@use "_base.scss" as *;

.navigation {
    height: 10vh;
    background-color: $color-primary;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    height: 50vh;
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer {
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;

    &__text {
        color: $color-white;
        vertical-align: bottom;
    }

}